.goods-card {
  overflow: hidden;
  width: 342px;
  background-color: white;
  border-radius: 10px;
  .img-wrap {
    width: 100%;
    height: 342px;
    background-color: #f7f7f7;
    overflow: hidden;
    .img {
      width: 100%;
      height: 100%;
    }
  }
  .txt-wrap {
    padding: 30px 24px 20px;
    width: 100%;
    .title {
      position: relative;
      color: #333333;
      font-size: 28px;
      line-height: 36px;
      word-break: break-all;
      word-wrap: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      margin-bottom: 17px;
      text-indent: 32px;
      .union {
        position: absolute;
        left: 0;
        top: 5px;
        width: 26px;
        height: 26px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        &.jd {
          background-image: url('../../asset/components/brand_jd.png');
        }
        &.pdd {
          background-image: url('../../asset/components/brand_pdd.png');
        }
      }
    }
    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      font-size: 22px;
      .coupon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 38px;
        color: #fb5e5e;
        background-image: url('../../asset/components/quan_bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      .sold {
        color: #999;
      }
    }
    .money {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .price {
        .new {
          font-size: 30px;
          color: #222222;
          font-weight: 600;
        }
        .old {
          margin-left: 8px;
          color: #999999;
          font-size: 20px;
          text-decoration: line-through;
        }
      }
      .commission {
        display: block;
        width: 104px;
        height: 32px;
        background-image: linear-gradient(-130deg, #fbdeb9 0%, #f5c088 100%);
        border-radius: 4px;
        font-size: 20px;
        color: #653022;
        letter-spacing: 0;
        line-height: 32px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
