.detail {
  width: 750px;
  overflow: hidden;
  background-color: #f2f2f2;
  padding-bottom: 150px;
  .goods-intro {
    background-color: #ffffff;
    position: relative;
    .swiper {
      background-color: #f2f2f2;
      width: 750px;
      height: 750px;
      .swiper-item {
        width: 100%;
        height: 100%;
        .pic {
          width: 100%;
          height: 100%;
        }
      }
    }
    .intro {
      overflow: hidden;
      padding: 36px;
      .title {
        position: relative;
        font-size: 30px;
        line-height: 44px;
        color: #333333;
        font-weight: 600;
        word-break: break-all;
        word-wrap: break-word;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        text-indent: 76px;
        margin-top: 10px;
        .tag-jx {
          position: absolute;
          left: 0;
          top: 7px;
          width: 64px;
          height: 30px;
          line-height: 30px;
          background: #fbddb9;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 15px;
          font-size: 20px;
          color: #944e1f;
          text-indent: 0;
        }
      }
      .info {
        .row1 {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          .price {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .num {
            font-size: 48px;
            color: #f85956;
            line-height: 48px;
            font-weight: 600;
            .span {
              font-size: 36px;
            }
          }
          .tag {
            height: 38px;
            background: #fbddb9;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            background-image: linear-gradient(135deg, #fbddb9 0%, #f3c592 100%);
            border-radius: 8px;
            font-size: 22px;
            color: #944e1f;
            margin-left: 20px;
            padding: 0 8px;
          }
          .sold {
            font-size: 24px;
            color: #999999;
          }
        }
        .old {
          font-size: 24px;
          color: #cccccc;
          line-height: 24px;
          text-decoration: line-through;
        }
      }
    }
    .tag-zy {
      width: 176px;
      height: 56px;
      position: absolute;
      left: 0;
      top: 0;
      background-image: url('../../../asset/zy/details/tag-zy.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .down {
      position: absolute;
      top: 650px;
      left: 0;
      padding: 0 31px;
      height: 62px;
      background-image: linear-gradient(91deg, #fbd7a8 0%, #f8cc98 50%, #f5c088 100%), linear-gradient(#ffad09, #ffad09);
      background-blend-mode: normal, normal;
      border-radius: 0px 30px 30px 0px;
      font-size: 32px;
      color: #653022;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .goods-spec {
    height: 88px;
    margin: 18px 0;
    background: #fff;
    padding: 0 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .info {
      display: flex;
      justify-content: center;
      align-items: center;
      .title {
        font-size: 28px;
        color: #333333;
        line-height: 28px;
        font-weight: 600;
      }
      .ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        .li {
          font-size: 28px;
          color: #666666;
          letter-spacing: 2.33px;
          line-height: 28px;
          padding: 0 20px;
        }
      }
    }
    .i-more {
      width: 32px;
      height: 32px;
      background-size: cover;
      background-image: url(../../../asset/mine/i-more.png);
    }
  }
  .goods-details-wrap {
    background-color: #ffffff;
    margin: 8px 0;
    .expand-details {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      color: #333333;
      width: 100%;
      height: 88px;
      text-indent: 30px;
      background-image: url('../../../asset/details/expand.png');
      background-repeat: no-repeat;
      background-position: 278px center;
      background-size: 20px;
      &.show {
        background-image: url('../../../asset/details/shrink.png');
      }
    }
    .goods-details {
      // display: none;
      .img {
        width: 100%;
      }
    }
  }

  // 猜你喜欢
  .recommend {
    width: 750px;
    background-color: white;
    .title {
      width: 100%;
      height: 70px;
      background-image: url('../../../asset/details/gylike.png');
      background-repeat: no-repeat;
      background-size: 240px 34px;
      background-position: center;
      text-indent: -999em;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // .img {
      //   width: 360px;
      //   height: 51px;
      // }
    }
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 24px;
    right: 24px;
    height: 94px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    // padding-bottom: env(safe-area-inset-bottom);
    .left {
      width: 266px;
      height: 94px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #222222;
      box-shadow: 0 6px 14px rgba(27, 27, 27, 0.38);
      border-radius: 46px;
      padding: 0 20px;
      .home {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80px;
        .icon {
          background-image: url('../../../asset/details/icon_shouye.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 48px 48px;
          width: 48px;
          height: 48px;
        }
        .txt {
          font-size: 22px;
          color: #999999;
        }
      }
      .service {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80px;
        .icon {
          background-image: url('../../../asset/details/icon_wx.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 48px 48px;
          width: 48px;
          height: 48px;
        }
        .txt {
          font-size: 22px;
          color: #999999;
        }
        .btn {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: transparent;
          &::after {
            border: none;
          }
        }
      }
    }

    .right {
      width: 382px;
      height: 94px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #ffbc06;
      box-shadow: 0 6px 14px rgba(27, 27, 27, 0.38);
      border-radius: 46px;
      // padding: 0 20px;
      .buy-for-me-wrap {
        position: relative;
        width: 240px;
        height: 100%;
        .buy-for-me-nav {
          width: 100%;
          height: 100%;
          .buy-for-me {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            flex-direction: column;
            color: #523a2a;
            .up {
              font-size: 28px;
            }
            .down {
              font-size: 22px;
            }
          }
        }
        .btn {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: transparent;
          &::after {
            border: none;
          }
        }
      }
      .share {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 194px;
        height: 100%;
        color: #d7a874;
        border-radius: 46px;
        background-color: #222222;
        border: 2px solid #474747;
        box-shadow: 0 8px 14px rgba(69, 69, 69, 0.35);
        .up {
          font-size: 28px;
          line-height: 34px;
        }
        .down {
          font-size: 22px;
          line-height: 34px;
        }
        .btn {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: transparent;
          &::after {
            border: none;
          }
        }
      }
    }
  }

  .share-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .canvas-wrap {
      flex: 1;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      .canvas-img {
        width: 480px;
        height: 866px;
      }
      .canvas-show {
        // prettier-ignore
        width: 480PX;
        // prettier-ignore
        height: 866PX;
        position: absolute;
        left: -99999px;
      }
      // .canvas-share {
      //   display: none;
      //   width: 960px;
      //   height: 1732px;
      // }
    }
    .btns-wrap {
      display: flex;
      width: 100%;
      height: 240px;
      background-color: #ffffff;
      justify-content: space-around;
      padding: 0 44px;
      .item {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding: 30px 0;
        .icon {
          width: 117px;
          height: 117px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          &.wechat {
            background-image: url('../../../asset/share/wechat.png');
          }
          &.download {
            background-image: url('../../../asset/share/download.png');
          }
          &.link {
            background-image: url('../../../asset/share/link.png');
          }
        }
        .txt {
          font-size: 26px;
          color: #666666;
        }
        &.save,
        &.share {
          position: relative;
          width: 128px;
          height: 100%;
          .btn {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            &::after {
              border: none;
            }
          }
        }
      }
    }
  }
  // 复制分享弹窗
  .copy-modal-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    .copy-modal {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 600px;
      height: 768px;
      background-color: #ffffff;
      border-radius: 12px;
      font-size: 28px;
      .title {
        font-size: 32px;
        color: #333333;
        text-align: center;
        padding: 24px 0;
      }
      .content {
        width: 502px;
        height: 528px;
        background-color: #f3f3f3;
        border-radius: 8px;
        overflow: hidden;
        padding: 24px;
        word-wrap: wrap;
        word-break: break-all;
        .item {
          display: block;
          .link {
            color: #3c83f9;
          }
          .price {
            color: #ff242a;
          }
        }
        .goods-title {
          word-break: break-all;
          word-wrap: break-word;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
        .goods-desc {
          word-break: break-all;
          word-wrap: break-word;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 5;
        }
      }
      .btn-copy {
        width: 480px;
        height: 88px;
        background: #cd9a5c;
        border-radius: 44px;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 28px;
      }
      .close {
        position: absolute;
        left: 50%;
        bottom: -70px;
        transform: translate(-50%);
        width: 48px;
        height: 48px;
        background-image: url('../../../asset/share/close.png');
        background-repeat: no-repeat;
        background-position: cneter;
        background-size: 48px 48px;
      }
    }
  }
  .goods-type-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(0, 0, 0, 0.6);
    align-items: flex-end;
    .modal {
      position: relative;
      width: 100%;
      background: #fff;
      border-radius: 24px 24px 0 0;
      overflow: hidden;
      .header {
        height: 236px;
        display: flex;
        margin: 0 36px;
        justify-content: start;
        align-items: center;
        border-bottom: 1px solid #f5f5f5;
        .img {
          width: 176px;
          height: 176px;
        }
        .info {
          margin-left: 36px;
          overflow: hidden;
          font-weight: 600;
          justify-content: start;
          align-items: center;
          .price {
            font-size: 36px;
            color: #f85956;
            line-height: 36px;
            display: block;
            margin-top: 40px;
            .span {
              font-size: 28px;
            }
          }
          .text1 {
            font-size: 28px;
            color: #f85956;
            letter-spacing: 2px;
            line-height: 28px;
            display: block;
            margin-top: 16px;
          }
          .ul {
            display: flex;
            justify-content: start;
            align-items: center;
            margin-top: 16px;
            color: #333333;
            letter-spacing: 2px;
            .li {
              font-size: 28px;
              letter-spacing: 2.33px;
              line-height: 28px;
              padding-right: 15px;
            }
          }
        }
      }
      .body {
        .sec1 {
          margin: 0 36px;
          padding: 36px 0;
          border-bottom: 1px solid #f5f5f5;
          .title {
            font-size: 28px;
            color: #333333;
            letter-spacing: 2px;
            line-height: 40px;
            font-weight: 600;
          }
          .ul {
            display: flex;
            justify-content: start;
            flex-wrap: wrap;
            .li {
              display: flex;
              justify-content: center;
              align-items: center;
              background: #f5f5f5;
              border-radius: 12px;
              height: 64px;
              margin-top: 20px;
              padding: 0 18px;
              margin-right: 24px;
              .img {
                width: 48px;
                height: 48px;
                margin-left: 8px;
                margin-right: 8px;
              }
              .text {
                font-size: 24px;
                color: #333333;
                letter-spacing: 1.2px;
                line-height: 24px;
              }
              &.active {
                background: #d7a874;
                .text {
                  color: #ffffff;
                }
              }
              &.disabled {
                background: #f5f5f5;
                .text {
                  color: #d3d3d3;
                }
              }
            }
          }
        }
        .sec2 {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0 36px;
          padding: 48px 0 94px;
          .title {
            font-size: 28px;
            color: #333333;
            letter-spacing: 3.36px;
            font-weight: 600;
          }
          .ul {
            display: flex;
            justify-content: center;
            align-items: center;
            .li {
              width: 66px;
              height: 60px;
              background-size: cover;
              background-color: #f5f5f5;
              font-size: 28px;
              color: #333333;
              line-height: 28px;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 2px;
              &.subtract {
                background-image: url('../../../asset/zy/icon/subtract.png');
              }
              &.add {
                background-image: url('../../../asset/zy/icon/add.png');
              }
            }
          }
        }
      }
      .modal-footer {
        height: 108px;
        .btn {
          width: 100%;
          height: 100%;
          background: #d7a874;
          font-size: 36px;
          color: #ffffff;
          letter-spacing: 2px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .close {
        position: absolute;
        right: 30px;
        top: 30px;
        width: 32px;
        height: 32px;
        background-image: url('../../../asset/zy/icon/close.png');
        background-repeat: no-repeat;
        background-position: cneter;
        background-size: cover;
      }
    }
  }
}
