.main {
  .sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    .img {
      width: 145px;
    }
    .text {
      font-size: 40px;
      color: #333333;
      line-height: 36px;
      margin-top: 30px;
      font-weight: 600;
    }
  }
  .btns {
    padding: 0 86px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    .btn {
      border: 2px solid #101012;
      border-radius: 40px;
      width: 258px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      color: #101012;
      letter-spacing: 1.29px;
      line-height: 30px;
    }
  }
}
